/* -----Обнуление----- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fafafa;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;   
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* -----Header----- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0px 0px 0px 133px;
}

.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    color: #737373;
    line-height: 24px;
    font-weight: 600;
}

.menu__link:hover {
    text-decoration: underline;
}

/* -----Header block----- */
.header-block {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.header-block__title {
    font-size: 40px;
    line-height: 57px;
    margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

}


/* -----Page----- */
.page {
    flex: 1 1 auto;
}

.page__main-block {}

.page__services {
    margin: -111px 0px 0px 0px;
    position: relative;
    z-index: 2;
}

.page__advantages {}

.page__practice {}

.page__whoweare {}

.page__clients {
    margin: 0px 0px 10px 0px;
}

.page__subscribe {}

.page__getintouch {}

.page__contact {}

/* -----Main-block----- */
.main-block {
    position: relative;
}

.main-block__container {}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

.main-block__title {
    font-size: 58px;
    line-height: 80px;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.main-block__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 35px 0px;
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    
}

.main-block__button {
    display: flex;
    border-radius: 37px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 48px;
    margin: 10px 0;
    transition: 0.5s;
}

.main-block__button:hover {
    background: #ff7b47;
    color: #ffffff; 
    border: none;
}

.main-block__button:active {
    transform: translate(-1px, 1px);
}


.main-block__button {
    flex: 0 0 47%;
    color: #0d5c63;
    border: 1px solid #0d5c63;
    margin-right: 10px;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -----Services----- */
.services {
}

.services__container {}

.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
}

.services__item {
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
    height: 100%;
    transition: 0.5s;
    border-radius: 5px;
}

.services__item:hover {
    box-shadow: -5px 23px 29px rgba(0, 0, 0, 0.2);
    transform: translate(5px, -5px);
}

.item-services {}

.item-services_green {
    background: #0D5C63;
    color: #fff;
}

.item-services_green .item-services__text {
    color: #fff;
}

.item-services__icon {
    margin: 0px 0px 10px 0px;
}

.item-services__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1;
    margin: 0px 0px 10px 0px;
}

.item-services__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}

/* -----Advantages----- */
.advantages {
    padding: 80px 0px; 
}

.advantages__container {}

.advantages__header {
    margin: 0px 0px 50px 0px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.advantages__columns {
    padding: 0px 15px;
    flex: 0 1 25%;
}

.advantages__item {
    background-color: #fff;
    padding: 30px 10px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__value {
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
}

.advantages__text {
    color: #737373;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

/* -----Practice----- */
.practice {
    padding: 125px 0px 80px 0px;
}

.practice__container {}

.practice__header {
    padding: 0px 0px 45px 0px;
}

.practice__body {
    margin: 0px -15px;
    display: flex;
    flex-wrap: wrap;
}

.practice__columns {
    padding: 0px 15px;
    flex: 0 1 25%;
}

.practice__item {

}

.item-practice {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    display: inline-block;
    color: inherit;
    margin: 0px 0px 15px 0px;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.item-practice__text {
    color: #737373;
    line-height: 20px;
}

.item-practice__image {
    padding: 0px 0px 60% 0px;
    display: block;
}

/* -----Whoweare----- */
.whoweare {
    padding: 80px 0px 130px 0;
}

.whoweare__container {}

.whoweare___header {
    margin: 0px 0px 100px 0px;
}

.whoweare__body {
    display: flex;
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 57px;
    margin: 0px 0px 10px 0px;
}

.whoweare__text {
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}

.whoweare__items {
    padding: 50px 0px 0px 0px;
}

.whoweare__item {
    margin: 0px 0px 30px 0px;
}

.item_whoweare {
    display: flex;
}

.item_whoweare__icon {
    flex: 0 0 32px;
}

.item_whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
    align-items: flex-start;
}

.item_whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 5px 0px;
}

.item_whoweare__text {
    color: #737373;
    line-height: 20px;
}

/* -----Clients----- */
.clients {
    padding: 50px 0px;
}

.clients__container {}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.clients__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

/* -----Subscribe----- */
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
}

.subscribe:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252b42;
}

.subscribe__container {}

.subscribe__body {
    position: relative;
    z-index: 2;
    margin: 0px 30px;
    padding: 30px 50px;
    align-items: center;
    background-color: #17213c;
    border-radius: 2px;
}

.subscribe__title {
    max-width: 266px;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe__input {
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0px 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    width: 100%;
}

.subscribe__input:focus {
    color: #000;
}

.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0px 22px;
    cursor: pointer;
    transition: 0.5s;
}

.subscribe__button:hover {
    background: #ce6338;
}

/* -----Getintouch----- */
.getintouch {
    padding: 40px 0px 136px 0px;
}

.getintouch__container {}

.getintouch__header {
    margin: 0px 0px 80px 0px;
}

.getintouch__item {
    flex: 0 1 33.333%;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
    margin: 0px 0px 15px 0px;
}

.item-getintouch_active {
    background: #252B42;
    color: #fff;
    padding: 80px 16px;
}

.item-getintouch_active .item-getintouch__button {
    color: #fff;
    border-color: #fff;
}

.item-getintouch__icons {
    margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

.item-getintouch__email:hover {
    text-decoration: underline;
}

.item-getintouch__label {
    margin: 0px 0px 15px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.item-getintouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff7b47;
    line-height: 24px;
    font-size: 14px;
    padding: 5px 20px;
    font-weight: 600;
    transition: 0.5s;
}

.item-getintouch__button:hover {
    border: none;
    background-color: #ff7b47;
    color: #fff;
}

.item-getintouch__button:active {
    transform: translate(-1px, 1px);
}

/* -----Contact----- */
.contact {
    background-color: #fff;
    padding: 42px 0px;
}

.contact__container {}


.contact__content {
    padding: 0px 20px 20px 20px;
}

.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0px 0px 10px 0px;
}

.contact__text {
    color: #737373;
    line-height: 20px;
}

.contact__button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #FF7B47;
    opacity: 0.7;
    color: #fff;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    transition: 0.5s;
}

.contact__button:hover {
    opacity: 1;
}

.contact__button:active {
    transform: translate(-1px, 1px);
}






/* -----Footer----- */
.footer {}

.footer__top {
    background: #17213c;
    padding: 35px 0px;
}

.footer__main {
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.footer__column {
    padding: 20px 15px;
    flex: 0 1 16.667%;
    
}

.footer__column:last-child {
    flex: 0 1 33.334%;
}

.footer__label {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {}

.menu-footer__item {
    margin: 0px 0px 10px 0px;
}

.menu-footer__link {
    display: inline-block;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 24px;

}

.menu-footer__link:hover {
    text-decoration: underline;
}

.footer__contacts {}

.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer__item {
    padding: 0px 0px 12px 34px;
    line-height: 30px;
    color: #fff;
}

.contacts-footer__item:hover {
    text-decoration: underline;
}

.contacts-footer__item_phone {
    background: url('../img/footer01.svg') 0 0 no-repeat;
}

.contacts-footer__item_map {
    background: url('../img/footer02.svg') 0 0 no-repeat;
}

.contacts-footer__item_email {
    background: url('../img/footer03.svg') 0 0 no-repeat;
}

.footer__bottom {
    padding: 25px 0px;
}

.footer__copy {
    color:#737373;
    line-height: 24px;
}

.footer__social {}

.social {
    display: flex;
    align-items: center;
}

.social__item {
    margin: 0px 20px 0px 0px;
}

.social__item img {
    vertical-align: top;
}




/* -----Media----- */
@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 50px;
    }

    .subscribe__body {
        margin: 0px 10px;
    }
}

@media (max-width: 1000px) {
    .advantages__columns {
        flex: 0 1 50%;
    }

    .practice__columns {
        padding: 0px 20px;
        flex: 0 1 50%;
    }
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }

    .header-block__title {
        font-size: 35px;
    }

    .services__column {
        flex: 0 1 100%;
    }

    .services__column:not(:last-child) {
        margin-bottom: 20px;
    }

    .main-block__image img {
        opacity: 0.5;
    }

    .practice {
        padding: 40px 0px 80px 0px;
    }

    .footer__column {
        flex: 0 1 25%;
    }

    .footer__column:last-child {
        flex: 1 1 100%;
    }

}

@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 50%;
    }
}

@media (min-width: 992px) {
    .getintouch__items {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 950px) {
    .whoweare__body {
        flex-direction: column-reverse ;
    }

    .whoweare {
        padding: 50px 0px 50px 0px;
        background: #ffffff;
    }

    .whoweare___header {
        padding: 0px 0px 0px 0px;
    }

    .whoweare__title {
        font-size: 30px;
    }

    .whoweare__video {
        padding: 0px 0px 56.25% 0px;
    }
}

@media (min-width: 810px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }

    .subscribe__title {
        max-width: 266px;
    }
}

@media (max-width: 810px) {
    .subscribe__title {
        margin: 0px 0px 20px 0px;
    }
    
    .subscribe__body {
        margin: 0px -15px;
        padding: 20px 25px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 50px;
    }

    .practice {
        padding: 0px 0px 80px 0px;
    }

    .clients {
        padding: 30px 0px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__copy {
        margin: 0px 0px 15px 0px;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

}

@media (min-width: 767px) {
    .contact__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact__content {
        padding: 0px 20px 0px 0px;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 670px) {
    .services__column {
        flex: 0 1 100%;
    }   
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }

    .main-block__button {
        flex: 1 1 auto;
    }

    .advantages__columns {
        flex: 0 1 100%;
    }

    .practice__columns {
        flex: 0 1 100%;
    }
}

